<h1>Listing locations</h1>

<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Street Address 1</th>
      <th>Street Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Max Capacity</th>
    </tr>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.street_1 %></td>
        <td><%= location.street_2 %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
        <td class="txt-c"><%= location.max_capacity %></td>
        <td><%= link_to 'Edit', edit_location_path(location), :class => 'button tiny radius' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
